.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

.App-logo {
  height: 80px;
  margin-bottom: 20px;
}

.App-header {
  background-color: #1a1a1a;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
}

.Students-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.Students-table th,
.Students-table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.Students-table th {
  background-color: #4e4e4e;
  color: white;
}

.Students-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Students-table tr:hover {
  background-color: #ddd;
}
